@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root{
    --white-color:#FFFFFF;
    --white-grey:#F2F3F5;
    --font-color:#1f241f;
    --logo-color:#eb430b;
    --link-color:#343634; 
}
/* Basic-style */
a{
    text-decoration: none;
}
a:hover{
    color: var(--logo-color);
}
li{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
}
.wrapper{
    max-width: 80%;
    margin: auto;
}
.section{
    padding-top: 4rem;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform .3s ease-in-out;
}
.btn{
    background-color: var(--logo-color);
    padding: .8rem 2.2rem;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    color: var(--font-color);
    font-size: .9rem;
    font-weight: 600;
}
.btn:hover{
    background-color: var(--font-color);
    color:var(--white-grey);
}
.wrap{
    flex-wrap: wrap;
}
/* Header style */
header{
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 5px 14px .75px rgba(36, 11, 12, .05);
}
.navbar{
    height: 12vh;
    justify-content: space-between;
}
span,.activ{
    color: var(--logo-color);
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--font-color);
}
.link{
    font-size: .95rem;
    color: var(--link-color);
    font-weight:500;
}
.icon{
    color: var(--link-color);
    font-size: .9rem;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.icon:hover{
    background-color: var(--white-grey);
}
span,.active
{
    color: var(--logo-color);
}
.navlist{
    gap:2.5rem;
}
.nav-icon{
    gap:.8rem;
}
.hamburger{
    font-size:1.7rem;
    color: var(--logo-color);
    display: none;  
}

/* Hero Section */
.hero{
    height: 100vh;
    background-image:url("images/hero-image.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5.5rem;
}
.hero-content{
    height: 100%;
    justify-content: flex-end;
}
h3{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3.6rem;
}
h1{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
    color: #343634;
}
h4{
    font-size: 1.3rem;
    font-weight:400;
    line-height: 3.5rem;
}
.cat-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.7rem;
}
.category:nth-child(1),
.category:nth-child(4){
    grid-row: 1/3;
}
.category:nth-child(2){
    grid-row: 1/2;
}
.category{
    position: relative;
    overflow: hidden;
}
.category button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 500;
    background: var(--white-color);
    color:var(--link-color);
    padding:5px 5px;
    z-index: 3;
}
.category button:hover{
    background-color: var(--logo-color);
    color:var(--font-color);
}
.category:hover img{
    transform: scale(1.1);
}
.category::before{
    content: '';
    position: absolute;
    background-color: var(--white-color);
    width: 0;
    height: 100%;
    opacity: .2;
    z-index: 2;
    transition: all .3s ease-in-out;
}
.category:hover::before{
    width: 100%;
}
h2{
    font-size: 1.4rem;
    line-height: 4rem;
    text-align: center;
    font-weight: 600;
}
.line{
    background-color: #eb430b;
    width: 70px;
    height:2.5px;
    margin: auto;
}
.card-container{
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
}
.card{
    border-right: 1px solid #efefef;
    flex: 1;
    padding-block: 3.1rem;
    margin-bottom: 2rem;
    transition: all .3s ease-in-out;
    position: relative;
} 
.card:hover{
    box-shadow: 0px 5px 19px 1px rgba(36, 11, 12, .05);
    z-index: 3;
}
.card-content{
    padding: 0 3rem;
}
.title{
    font-size: 1rem;
    color: var(--link-color);
    line-height: 1.7rem;
    font-weight: 500;
}
.price{
    margin-top: 1rem;
}
del{
    color: #c5c5c5;
}
.amount{
    font-size: 1.1rem;
    font-weight: 600;
}
.sale::before,
.new::before{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: .2rem 1.3rem;
    color: var(--white-color);
    border-radius: 20px;
    font-weight: 300;

}
.new::before{
    content: 'New';
    background-color: green;
}
.sale::before{
    content: 'Sale';
    background-color: var(--logo-color);
}
.sale-container{
    padding-block: 5rem;
    text-align: center;
    background-image: url("/images/sale-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sale-container h3{
font-weight: 200;
font-size: 1.56rem;
line-height: 1.6rem;
text-transform: uppercase;
}
.sale-container h1{
font-size: 3.2rem;
font-weight: 500;
line-height: 4.7rem;
}
.sale-container .line{
    width: 15%;
    background: #c5c5c5;
}
.sale-container h4{
font-size: 1.2rem;
color: #6e6e6e;
line-height: 3.5rem;
}